<section class="section">
  <div>

    <ol>
      <li>
        <input type="checkbox"><label>Criar corpo do Crud</label>
      </li>
        <ol>
          <li>
            <input type="checkbox" checked><label>base HTML</label>
          </li>
          <li>
            <input type="checkbox" checked><label>base CSS</label>
          </li>
          <li>
            <input type="checkbox" checked><label>Design</label>
          </li>
          <li>
            <input type="checkbox"><label>Responsividade</label>
          </li>
        </ol>

      <br>

      <li>
        <input type="checkbox"><label>Metodos</label>
      </li>
        <ol>
          <li>
            <input type="checkbox" checked><label>Create</label>
          </li>
          <li>
            <input type="checkbox"><label>Update</label>
          </li>
          <li>
            <input type="checkbox"><label>Delete</label>
          </li>
        </ol>

      <br>

      <li>
        <input type="checkbox"><label>Tratamento para input</label>
      </li>
        <ol>
          <li>
            <input type="checkbox" checked><label>Nao cadastrar em branco</label>
          </li>
          <li>
            <input type="checkbox"><label>Tamanho maximo</label>
          </li>
          <li>
            <input type="checkbox"><label>Resetar o valor apos cadastro</label>
          </li>
          <li>
            <input type="checkbox"><label>Mostrar visualmente o erro para o usuario</label>
          </li>
          <li>
            <input type="checkbox"><label>Nao permitir item repetido</label>
          </li>
          <li>
            <input type="checkbox"><label>Mascaras para documento</label>
          </li>
          <li>
            <input type="checkbox"><label>Tratamento para nao criar duplicados</label>
          </li>
        </ol>

    </ol>
  </div>
</section>
